$openSans: 'Open Sans', sans-serif;
$myraidPro: 'Myriad Pro Semibold', sans-serif;
$roboto: 'Roboto', sans-serif;

@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url('../font/MyriadPro-Semibold.eot');
    src: url('../font/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../font/MyriadPro-Semibold.woff') format('woff'),
    url('../font/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEFEFF;
}

button {
    outline: transparent;
}

button:hover {
    cursor: pointer;
}

.wrap {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

@import './header.scss';
@import './trendy.scss';
@import './brands.scss';
@import './showcase.scss';
@import './subscribe.scss';
@import './footer.scss';
@import './adaptive.scss';